.map_panel_left {
	width: 75%;
}

.map_panel_right {
	width: 25%;
}

.ui-widget {
   font-size: 14px !important;
}

.gm-style-iw {
	top: 6px !important;
	left: 25px !important;
}

.alignTop {
	vertical-align: baseline;
	padding-left: 10px;
}

.none {}

.noTable {
	border: 0 !important;
	padding: 0 !important;
}

.noTableMarker {
	border: 0 !important;
	padding: 0 !important;
	width: 20px;
}

.noTableButton {
	border: 0 !important;
	padding: 0 !important;
	width: 50px;
}

.locationFinderHeader {
	text-align: center
}